.nav{
    height: 5vw;
    background-color: black;
    color: #fff;
    position: sticky;
    top: 0;
    align-items: center;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}