.card {
  display: flex;
  border: 2px solid #eee;
  flex-direction: column;
  margin: 10px;
  border-radius: 1rem;
}

.card-header {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
  margin: 0px;
  border-radius: 1rem 1rem 0 0;
}

.card-body {
  display: block;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0 0 1rem 1rem;
}

.btn {
  width: 100%;
  border-radius: 100px;
  background-color: #a4d0ff;
  color: #007bff;
  padding: 8px 12px;
  border: none;
  font-weight: bold;
}

.card-popular {
  background-color: #007bff;
  border: 2px solid #007bff;
}

.badge-popular {
  border: 1px solid #fff;
  border-radius: 100px;
  font-size: 10px;
  padding: 2px 6px;
  position: relative;
  bottom: 5px;
}

.btn-popular {
  width: 100%;
  border-radius: 100px;
  background-color: #007bff;
  color: #f3f3f3;
  padding: 8px 12px;
  border: none;
  font-weight: bold;
}
