.container {
  text-align: center;
}
.counter-wrapper {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 10px;
}

.kurang {
  background: linear-gradient(rgba(45, 62, 220, 0.2), #656464);
  padding: 0.3rem 0.7rem;
  font-weight: bold;
  color: #000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kurang:hover {
  transform: translateY(-6px);
  box-shadow: 10px 10px 20px rgba(45, 62, 220, 0.2);
  cursor: pointer;
}

.tambah {
  background: radial-gradient(rgba(83, 2, 2, 0.5), #c7c7c7);
  padding: 0.3rem 0.7rem;
  font-weight: bold;
  color: #000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tambah:hover {
  transform: translateY(-6px);
  box-shadow: 10px 10px 20px rgba(220, 57, 45, 0.2);
  cursor: pointer;
}
